:root {
      
}

.tema4-2 {/* Синий тёмный */
  --Ct: #ccc;/* color */
  --bg: #012;/* background */
  --B-C1: #59f;/* button */
}
.tema8 {/* Светлая */
  
}
.tema9 {/* чёрная (tema8 светлая в https://zam.usite.pro/css/z.css) */
  --Ct: #fff;/* color */
  --bg: #000;/* Задний фон background */
  --B-C1: #59f;/* button */
}

html {
  font-size: 12pt;
}
body {
  margin:0;
  padding: 0 0 1.7em 0;/* Отступ с низу для кнопок */
  color:var(--Ct);
  background: var(--bg);
  transition: background .7s, color 1s
}
main {
  margin:1.7em 7px 7px 7px;
}

/* ✦ Меню .M ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
#M {z-index: 9;
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  background: var(--bg);
  transition: 1s;/* background */
}

#M > div {
  display:flex;
  justify-content: space-between;
}
        /* ✦✦✦ Кнопки ✦✦✦ *//* #region */
#M > div > :last-child {/* Все кнопки */
  position: relative;
  bottom:0;
  padding-left: 2px;
  width: 100%;
  text-align: right;
  overflow-x: auto;
  color: var(--Ct);/* Уберает плавную смену цвета */
  white-space: nowrap;
  transition: 1s;/* bottom, opacity */
}
        /* ✦✦✦ Кнопки ✦✦✦ *//* #endregion */
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ Кнопки ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
#M .B-Ig-vVg {/* google icon */
  --B-I-O: 0px;
  top: 1px;
  margin: 0 2px;
  font-size: 1.4em;
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */
        /* ✦✦✦ Добавим полосу прокрутки ✦✦✦ *//* #region */
body[class*="bodyS"] {
  --Scroll: 1700px;
  overflow: auto;
}
.bodyS1 {/* Вертикально */
  min-height: var(--Scroll);
}
.bodyS2 {/* Горизонтально */
  min-width: var(--Scroll);
}

#bodyS {
  display: inline-block;
}
        /* ✦✦✦ Добавим полосу прокрутки ✦✦✦ *//* #endregion */

        /* ✦✦✦ Закрыть/Открыть ✦✦✦ *//* #region */
#M.X {/* Скрыли */
  right: unset;
  background: #0000;
}
#M.X > * > :last-child {/* Все кнопки */
  opacity:0;
  bottom: -2em;
}

#M [x] {z-index: 1;/* button */
  top:-1px;
  margin:0;
  font-size: 1.4em;
}
#M [x] p {
  top:-2px;
}
#M:not(.X) [x] {/* тень */
  box-shadow: 4px 1px 5px -5px #000;
}
        /* ✦✦✦ Закрыть/Открыть ✦✦✦ *//* #endregion */
    /* ✦✦ Кнопки ✦✦ *//* #endregion */
/* ✦ Меню .M ✦ *//* #endregion */

/* ✦ #glPodskaz .Mspis Окно подсказки ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
#glPodskaz > :last-child {
  max-width: calc(100vw - 12px);
  max-height: calc(100vh - 3.3em);
  white-space: wrap;/* Для отмены, заданное в #M > div > :last-child */
}
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ Окно открыто ✦✦ *//* #region */
#M > div > :last-child[style*="overflow: unset"] > *:not(#glPodskaz, .MspisZ) {
  opacity: .3;/* Затемняем кнопки */
  pointer-events: none;
}
    /* ✦✦ Окно открыто ✦✦ *//* #endregion */

    /* ✦✦ Список меню ✦✦ *//* #region */
.Mspis {
  --B-Cm: var(--all-C);
}
.Mspis > div:first-child button {
  width: 100%;
  height: 2.1em;
}
.Mspis .B-Ix-kr {/* button */
  display: flex;/* В ряд */
  align-items: flex-end;
  left: 0;
  padding-bottom: 2px;
  
}
.Mspis .B-Ix-kr b:last-child {/* теги */
  position: absolute;
  top:2px; right:0;
  width: 85%;
  color:#555;
  text-align: right;
  font-size: .6em;
  /* обрезаем текст 1-ну строчку  //! Для 1 строчки */
  white-space: nowrap;    /* Запрещаем перенос строк /*! min-width: 0%; убераем выход рамки за пределы */
  overflow: hidden;       /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;/* Добавляем многоточие */
  /* --------------------------- */
}

.Mspis > div:first-child > * {
  border-bottom: 1px solid var(--all-b-sh)
}
    /* ✦✦ Список Меню ✦✦ *//* #endregion */
    
    /* ✦✦ Меню2 Открыть/Закрыть ✦✦ *//* #region */
.Mspis2 {
  --zHidH: 2.1em;/* при закрытии сколько видно */
}

.Mspis2 [zhidb] {/* hid button Открыть/Закрыть */
  --B-C: var(--Ct);
  float: unset;
  padding: 0 calc(1em + 1px) 0 0;
}
.Mspis2[zhid="0"] [zhidb] b::after {
  content: ':'
}
.Mspis2 [zhidb] p {
  right: 3px;
  left:unset;
}

.Mspis2 .B-Ix-kr {/* button */
  --B-C: var(--Ct);
  --B-I-C: var(--Ct);/* • */
  margin-left: .4em;
  width: calc(100% - .4em)!important;
  border-radius: 0 0 0 9px;
}
.Mspis2 > .B-Ix-kr:not(:last-child) {
  border-bottom: 1px dashed var(--all-b-sh)
}
    /* ✦✦ Меню2 Открыть/Закрыть ✦✦ *//* #endregion */

    /* ✦✦ Поиск ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
.MspisS {z-index: 4;
  position: sticky;
  bottom: 0;
  background: var(--bg);
  padding: 9px 2px 2px 2px;
}

.MspisS .B-i-Tx {/* input */
  width: 100%
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */

        /* ✦✦✦ Всего/Нашли ✦✦✦ *//* #region */
.MspisS > div:first-child {
  color:#777;
  font-size: .8em;
}
.MspisS span {/* Нашли */
  position: absolute;
  right: 3px;
}
        /* ✦✦✦ Всего/Нашли ✦✦✦ *//* #endregion */

        /* ✦✦✦ Убераем button ✦✦✦ *//* #region */
.Mspis .B-Ix-kr[class*="MspisX"] {
  opacity: 0;
  left: -102%;
  overflow: hidden;
  height: 0;
  padding: 0;
  border: 0;
  transition: .7s;
}
.Mspis .B-Ix-kr.MspisXr {/* На право */
  left: 102%;
}
        /* ✦✦✦ Убераем button ✦✦✦ *//* #endregion */
    /* ✦✦ Поиск ✦✦ *//* #endregion */

    /* ✦✦ Заголовок открытого раздела/Кнопка вернуть меню ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
.MspisZ {
  z-index: 1;
  position:fixed;
  bottom: .1em;
  right: 1em;
  transition: .7s;
}
/* Окно 'Настройки' Закрыто: */
#M > div > :last-child:not([style*="overflow: unset"]) .MspisZ {
  opacity: 0;
  right: -100%;
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */

        /* ✦✦✦ Заголовок открытого раздела ✦✦✦ *//* #region */
.MspisZ div {
  position: absolute;
  top:-4px;
  right: calc(100% + 4px);
  font-size: .7em;
}
        /* ✦✦✦ Заголовок открытого раздела ✦✦✦ *//* #endregion */

        /* ✦✦✦ Кнопка вернуть меню ✦✦✦ *//* #region */
.MspisZ button {
  font-size: 1.3em;
}
        /* ✦✦✦ Кнопка вернуть меню ✦✦✦ *//* #endregion */
    /* ✦✦ Заголовок открытого раздела/Кнопка вернуть меню ✦✦ *//* #endregion */
/* ✦ #glPodskaz .Mspis Окно подсказки ✦ *//* #endregion */
